/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-eo-blocks-carousel{
  .block-list-appender {
    position: static;
  }
  .block-editor-block-list__layout {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .block-list-appender {
      align-self: flex-start;
    }

  }
}
