/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$media__mobile: 599px;

.wp-block-eo-carousel {
  .eo-carousel__thumbs-carousel {
    .wp-block-eo-slide {
      transition: opacity 0.2s ease-out;

      &:not(.swiper-slide-thumb-active) {
      opacity: 0.6;
      }
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
