/**
 * Plugin Name:       EO Blocks
 * Description:       A collection of Gutenberg blocks for WordPress made by Eoxia
 * Author:            Eoxia
 * Author URI:        https://www.eoxia.com
 * License:           GPL-3.0-or-later
 * License URI:       https://www.gnu.org/licenses/gpl-3.0.html
 * Text Domain:       eo-blocks
 */
.wp-block-group > .eo-group-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}