/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-eo-blocks-slide {
	min-height: 120px;
}

.eo-slide__position {
	margin: 0;
	font-style: italic;
	color: #757575;
}
