/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$media__mobile: 599px;

.wp-block-eo-sticky {
	position: fixed;
	z-index: 100000;
	margin-top: 0 !important;

	&:not(.is-active-mobile-menu) {
		&.is-position-top-left {
			top: 0;
			left: 0;
		}
		&.is-position-top-center {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&.is-position-top-right {
			top: 0;
			right: 0;
		}
		&.is-position-center-left {
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&.is-position-center-center, .is-position-center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.is-position-center-right {
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		&.is-position-bottom-left {
			bottom: 0;
			left: 0;
		}
		&.is-position-bottom-center {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&.is-position-bottom-right {
			bottom: 0;
			right: 0;
		}

		/** Vertical & Horizontal Gap */
		&[class^="is-position-top"] {
			@for $i from 1 through 6 {
				&.is-gap-vertical-#{$i} {
					top: #{$i + 'em'};
				}
			}
		}
		&[class^="is-position-bottom"] {
			@for $i from 1 through 6 {
				&.is-gap-vertical-#{$i} {
					bottom: #{$i + 'em'};
				}
			}
		}
		&.is-position-top-left, &.is-position-center-left, &.is-position-bottom-left {
			@for $i from 1 through 6 {
				&.is-gap-horizontal-#{$i} {
					left: #{$i + 'em'};
				}
			}
		}
		&.is-position-top-right, &.is-position-center-right, &.is-position-bottom-right {
			@for $i from 1 through 6 {
				&.is-gap-horizontal-#{$i} {
					right: #{$i + 'em'};
				}
			}
		}
	}
}

@import "mobile";
