/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$media__mobile: 599px;

.wp-block-eo-summary {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  &.is-orientation-horizontal {
    flex-direction: row;
  }
  &.is-orientation-vertical {
    flex-direction: column;
  }

  &.is-justification-left {
    justify-content: flex-start;
  }
  &.is-justification-center {
    justify-content: center;
  }
  &.is-justification-right {
    justify-content: flex-end;
  }
  &.is-justification-space-between {
    justify-content: space-between
  }

  .eo-summary__item.active {
    color: red;
  }
}
